* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #FFF3E1;
  background: #2E4CBC;
}

input,
textarea,
select {
  font-size: 16px;
}